@import "tailwindcss";

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
html {
  scroll-behavior: smooth;
}